.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.game-img {
  /* display: none; */
}

.active-img {
  display: none;
}

.button {
  border-radius: 20px;
  background: coral;
  width: 40px;
  height: 40px;
  margin: 20px 0;
}


.game-question-card {
  border: 2px solid red;
}

.game-choice-menu {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 50%;
}

.choice-item {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}