.App {
  text-align: center;
}

@font-face {
  font-family: 'Steelfish';
  src: local('Steelfish'), url(./fonts/steelfish/steelfish_rg.ttf) format('ttf');
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  /* flex-direction:  */
  justify-content: flex-end;
}
.navbar a {
  text-decoration: none;
  margin: 10px;
  
}

.App-link {
  color: #09d3ac;
}

.game-img {
  /* display: none; */
}

.active-img {
  display: none;
}

.button {
  border-radius: 100px;
  background: #f4c0d7;
  width: 40px;
  height: 40px;
  margin: auto 10px;
  /* margin: 20px 20px; */
}

.choice-item p {
  width: 75%;
}


.game-question-card {
  width: 80%;
}

.question-card-header h4 {
  width: 80%;
  margin: 10px auto;
}

.game-choice-menu {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 50%;
}

.game-choices ul {
  margin: auto 0;
  padding: 0;
}

.choice-item {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  /* margin: 0 10px; */
}

p, h1, h2, h3, h4, h5, h6 {
  color: #f4c0d7;
  font-family: Steelfish;
}

button {
  background: white;
  width: 150px;
  border: #f4c0d7;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 10px;
}


.button-div {
  display: flex;
  margin: 0 auto;
}

.button-div button {
  margin: 0 15px;
}